@media screen and (max-width: 800px){
    .navigation{
        display: none;
        }
    
  ul{
    margin: 0 0.5rem;}
    .hero{
         min-height: 300px;      
        }
    .hero-buttons>button{
        font-size:0.9rem;
    }
}