@media screen and (max-width: 855px){
    .navigation{
        z-index: 999;
        right: -100%;
        position: fixed;
        top: 3.1rem;
        width: 200px;
        background-color: var(--background-color-header);
        padding: 0.8rem;
        border-radius: 20px;
        border-color: var(--border-color);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.308);
        transition: right 0.8s ease;
    }
    .menu-button{
        cursor: pointer;
        z-index: 1001;
        
    }
    .navigation>.nav-links{
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation>.nav-links>li:hover{
        background-color: transparent;
    }
    .navigation>.nav-links a{
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        padding: 0.2rem;
        display: block;
    }
    .navigation>.nav-links li{
        width: 80%;
        gap: 1rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul{
        margin: 0;
        padding: 0;
        
    }
    .hero{
         min-height: 300px;      
        }
    .hero-buttons>button{
        font-size:0.9rem;
    }
    .card{
        max-width: 40%;
    }
    .menu-toggle:checked ~ .navigation{
        right: 0;
    }

}
@media screen and (min-width: 856px){
    .menu-button{
        display: none;
    }
}
@media screen and (max-width: 1830px){
   .hero{
    
    width: 98%;
   }

}
@media screen and (max-width: 1250px){
   .hero{
    aspect-ratio: 16/6;
   }
    }
@media screen and (max-width: 500px){
    main{
        overflow-x: hidden;
        font-size:smaller;
    }
    .product-grid{
        overflow-x: hidden;
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 140px);
        grid-template-areas: 
        "destaque destaque grid-4"
        "destaque destaque grid-4"
        "grid-5 grid-2 grid-2"
        "grid-3 grid-3 grid-6" 
    }
     .card{
        overflow-x: hidden;
        max-width: 46%;
    }
    .hero{
        padding: 0.2rem;
        width: 100%;
        height: 250px;
        border-radius: 0px;
        overflow-x: hidden;
    }
    .hero-buttons>button{
        margin: 0rem 0rem;
        padding: 0.4rem 0.6rem;
    }

    .relevant-categories{
        padding: 1.6rem 1rem;
        width: 98%;
        overflow-x: hidden;
    }
    .back>button{
        padding: 0.4rem 0.4rem;
    }
}