/* header.css */

.main-header {
    position: fixed;
    z-index: 1000;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 3rem);
    max-width: 1250px;
    padding: 0.4rem 1.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-header);
    border: 2px solid var(--border-color);
  
}

.icon{
  fill: var(--links-color);
}
.icon:hover{
  fill: var(--hover-links-color);
  transform: translateY(-2px) scale(1.05);
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.6rem;
  height: auto;
  object-fit: contain;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--links-color);
  
}
.nav-links li:hover{
    color: var(--hover-links-color);
    background-color: var(--background-color-header);
    transform: translateY(-2px) scale(1.05);
    
}
.nav-links li{
    padding: 2px 4px;
    border-radius: 5px;
}

.menu-toggle{
  display:none;
}