/* hero.css */
.hero{
    background: url(../../images/backgrounds/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-repeat: repeat-x;
    background-position: center;
    
}

